.main-container-nav{
    /* display: flex; */
    /* position: fixed; */
    /* bottom: 0;
    left: 0;
    right: 0; */
    /* flex: 2; */
    /* z-index: 1000; */
    height: var(--bottom-nav-height);
}