.main-container-login {
    width: 430px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    padding: 0;
    margin: 0;
}

.header-logo {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
        font-size: var(--font-h3);
    }
}

.cooking-pot-logo {
    font-size: 2em;
    background-color: var(--primary-color);
    color: var(--background-color-primary);
    padding: .2em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}

.auth-submit-btn {
    background-color: var(--primary-color);
    border-radius: 2em;
    &:hover {
        background-color: var(--button-hover-color);
    }
}

.auth-anchor {
    color: var(--primary-color);
}