.modal-box-fieles {
    position: fixed;         
    top: 50%;                
    left: 50%;               
    transform: translate(-50%, -50%); 
    width: 90%;
    max-width: 420px;
    margin: 0 auto;
    /* margin-top: 8vh; */
    /* background: rgba(0,0,0,0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-card-fieles {
    width: 100%;
    max-height: 50vh;

    border-radius: 20px;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;

    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.modal-title-fieles {
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
}

.modal-scroll-fieles {
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;
    padding-right: 8px;
    width: 75%;
}

.store-item-fieles.selected {
    background-color: rgba(255, 76, 76, 0.12);
    border-radius: 12px;
}

.modal-footer-fieles {
    margin-top: 18px;
    display: flex;
    gap: 10px;
    width: 100%;
}

.modal-cancel, .modal-add {
    padding: 10px 0;
    border-radius: 10px;
}

.checkbox-selector {
    width: 15px;
    height: 15px;
    /* padding-right: 2em; */
    transform: scale(1.2);
    accent-color: #d32f2f;
}

p.empty-stores{
    text-align: center;
}